
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "https://fonts.googleapis.com/css2?family=Tangerine&display=swap";

body {
	margin : 0;
	font-family: "Raleway", sans-serif;
	background: rgb(249,249,249);
	font-size: 2ex;
}

h1 {
	font-size: 5ex;
}

h2 {
	font-size: 4ex;
	padding:50px ;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
  color: #232323;
}

a:hover {
  color: tomato;
}

#titre {
	order: 1;
	padding-top: 120px;
	text-align: center;
}

#navigation {
  display: flex;
	flex-direction: column;
  position: fixed;
	left: 0;
	width: 100vw;
	height: 50px;
	background-color: rgb( 150, 150, 150);
}

input {
	display: none;
}

label {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

span {
  display: block;
  width: 35px;
  height: 4px;
  margin: 10px;
  background: #eee;
  border-radius: 3px;
}

ul {
	position: relative;
  padding: 30px 50px;
	background: #ededed;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

ul li {
  padding: 10px 0;
  font-size: 22px;
}

#navigation input:checked ~ ul {
  transform: none;
}

section {
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	max-width: 70ex;
	order: 2;
	padding: 0 5vw 0 5vw;
}

article {
	text-indent: 5vw;
}
aside {
	order: 3;
	width: 100vw;
	background: #FFFFFF;
}

aside p {
	padding-top: 10vh;
	text-align: center;
}

footer {
	height: 15vh;
	padding:0;
	background-color: rgba(0,0,0,25%);
}

footer p {
	text-align: center;
	padding:5vh;
}
