
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "https://fonts.googleapis.com/css2?family=Tangerine&display=swap";

body {
	margin : 0;
	font-family: "Raleway", sans-serif;
	background: rgb(249,249,249);
}

h1 {
	font-size: 5em;
	font-family:'Tangerine', cursive;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

a:active {
	color: rgb(200,200,200);
}

#titre {
	order: 1;
	width: 100vw;
	text-align: center;
}

nav {
	width: 20vw;
	height:100vh;
	position: fixed;
}

input {
	display: none;
}

label {
	padding-left: 5vw;
	font-size: 5em;
}

ul {
	display: none;
	width: 100%;
}

li {
	margin: 2vh;
	list-style-type: none;
}


#nav-check:checked ~ ul {
	display: block;
}

section {
	max-width: 70ex;
	order: 2;
	padding: 0 5vh 0 5vh;
}

aside {
	order: 3;
	width:100vw;
	background: #FFFFFF;
}

aside p {
	padding-top: 10vh;
	text-align: center;
}

footer {
	height: 15vh;
	padding:0;
	background-color: rgba(0,0,0,25%);
}

footer p {
	text-align: center;
	padding:5vh;
}
