
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "https://fonts.googleapis.com/css?family=Alex+Brush";


body {
	line-height: 200%;
	height: 100%;
	font-size: 110%;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: rgb(234, 234, 233);
  margin: 0;
  padding: 0;
}


.inner {
	width : 80%;
  margin : auto;
  background-color: white;
}
